/**
* BASE
**/

body {
    background-image: url(../assets/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: $c-primary;
    font-family: $f-body;
    font-size: rem-calc(16);
    padding-top: 250px;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}