/**
* BASE
**/
html {
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    color: $c-primary;
    font-family: $f-body;
    font-size: rem-calc(16);
}

.width-container {
    max-width: rem-calc(900);
    margin: 0 auto;
}

.hoz-padding {
    padding-left: $l-spacing;
    padding-right: $l-spacing;
}