@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=PT+Serif:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: $f-headings;
}

h4, h5, h6 {
    font-family: $f-body;
}

h1 {
    font-size: clamp(2.5rem, 1.9783rem + 2.6087vw, 4rem);
    margin-top: rem-calc(10);
}

h2 {
    font-size: clamp(2.1875rem, 1.9918rem + 0.9783vw, 2.75rem);
}

h3 {
    font-size: clamp(1.5625rem, 1.3668rem + 0.9783vw, 2.125rem);
}

.body-font {
    font-family: $f-body;
}

a {
    color: $c-primary;
}