@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=PT+Serif:wght@400;700&display=swap');

h1, h2 {
    font-family: $f-headings;
}

h3, h4, h5, h6 {
    font-family: $f-body;
}

h1 {
    font-size: rem-calc(64);
}

h2 {
    font-size: rem-calc(44);
}

h3 {
    font-size: rem-calc(34);
}

h1, h2 {
    margin-bottom: rem-calc(16);
}