/**
* VARIABLES
**/

$c-primary: #001b50;
$c-secondary: #c8a7aa;
$c-white: #ffffff;
$c-black: #000000;

$f-headings: 'Alex Brush', cursive;
$f-body: 'PT Serif', serif;

$l-spacing: rem-calc(20);
$l-spacing--large: rem-calc(40);

$b-large: rem-calc(1024);