/**
* FLOATING-FLOWERS
**/

.flowers {

    &-left, 
    &-right {
        position: absolute;
        z-index: -1;
        opacity: 0.5;

        @media (min-width: $b-large) {
            opacity: 1;
        }
    }

    &-left {
        width: rem-calc(110);
        left: 1%;
        top: rem-calc(20);
        z-index: -1;

        @media (min-width: $b-large) {
            width: rem-calc(200);
            left: 15%;
        }
    }

    &-right {
        width: rem-calc(130);
        right: -10%;
        bottom: 35%;

        @media (min-width: $b-large) {
            width: rem-calc(300);
            right: 10%;
            bottom: -18%;
        }
    }
}