/**
* FOOTER
**/

.footer {
    background-color: $c-primary;
    color: $c-white;
    padding: $l-spacing;
    text-align: center;

    a {
        color: $c-white;
    }

    p {
        margin-bottom: 0;
    }
}