/**
* HEADER
**/

header {
    align-items: center;
    background: rgba($c-white, .8);
    backdrop-filter: blur(5px);
    display: flex;
    padding: 0 $l-spacing--large;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: rem-calc(0 -1 4 0) rgba(0, 0, 0, 0.25);

    > h1 {
        margin-bottom: 0;
        width: 20%;

        a {
            color: $c-primary;
            text-decoration: none;
        }
    }

    .header-button {
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }
}