/**
* HERO
**/

.hero {
    padding: rem-calc(50) $l-spacing;
    position: relative;
    text-align: center;
    overflow: hidden;

    @media (min-width: $b-large) {
        padding: rem-calc(100 0);
        overflow: visible;
    }

    h1 {
        font-size: rem-calc(80);

        @media (min-width: $b-large) {
            font-size: rem-calc(150);
        }
    }

    .countdown-timer {
        margin-top: rem-calc(15);
    }
}