/**
* NAV
**/

nav {
    font-size: rem-calc(16);
    width: 100%;
    order: 3;
    margin-top: rem-calc(10);

    @media (min-width: $b-large) {
        width: 60%;
        order: unset;
        font-size: rem-calc(20);
        margin-top: 0;
    }
    
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 0;

        li {
            margin: rem-calc(5 10);

            a {
                color: $c-primary;
            }
        }
    }
}