/**
* FULL-ROW
**/

.row {
    margin: $l-spacing--large 0;
    display: flex;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    &__content {

        > h2 {
            text-align: center;
            margin-top: $l-spacing--large;
        }
    }

    &--secondary {
        background-color: $c-secondary;
        color: $c-white;
    }
}