/**
* TEXT-WITH-IMAGE
**/

.text-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 $l-spacing;

    @media (min-width: $b-large) {
        flex-direction: row;
    }

    &__content {
        max-width: rem-calc(350);
    }

    img {
        margin: $l-spacing--large 0;
        border-radius: rem-calc(10);

        @media (min-width: $b-large) {
            margin-left: $l-spacing;
            max-width: 60%;
        }
    }

    &.fancy-border {

        img {
            max-width: 60%;
            border-radius: rem-calc(277);
            border: rem-calc(10) solid $c-white;
            box-shadow:rem-calc(0 4 4 0) rgba($c-black, 0.25);
        }
    }
}